.particles-js-canvas-el
{
    position: absolute;
    z-index: 0;
}

.flickity-prev-next-button.previous 
{
    left: -10px;
    padding-left: 5px;
}

.flickity-prev-next-button.next 
{
    right: -10px;
    padding-right: 5px;
}

.carousel
{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.members-desc
{
    height: 112px;
    overflow-y: auto;
}
.members-desc::-webkit-scrollbar
{
    width: 5px;
}
.members-desc::-webkit-scrollbar-track 
{
    background: #f1f1f1; 
 }
.members-desc::-webkit-scrollbar-thumb
{
    background:#888;
}
.members-desc::-webkit-scrollbar-thumb:hover 
{
    background: #555; 
}

.proj-desc
{
    height: 45px;
    overflow-y: auto;
}
.proj-desc::-webkit-scrollbar
{
    width: 5px;
}
.proj-desc::-webkit-scrollbar-track 
{
    background: #f1f1f1; 
 }
.proj-desc::-webkit-scrollbar-thumb
{
    background:#888;
}
.proj-desc::-webkit-scrollbar-thumb:hover 
{
    background: #555; 
}

a
{
    text-decoration: none;
}




@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

footer{
    background: #222;
    color: #fff;
    padding: 60px 0;
}
li{
    list-style: none;
    line-height: 2;
}
a{
    text-decoration: none;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.items{
    flex-basis: 20%;
}
.items .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #b6b6b6;
}
.items p{
    margin: 1.2em 0;
}
.social{
    display: flex;
}
.social a{
    height: 30px;
    width: 30px;
    background: #756b6b;
    border-radius: 5px;
    margin:10px 5px;
    text-align: center;
}
.social a i{
    font-size: 1.3em;
    line-height: 30px;
}
.items h3{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: aliceblue;
}
.items h3::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    bottom: -4px;
    left: 0;
}
hr{
    opacity: .3;
}
footer .end{
    text-align: center;
    padding: 20px 0 0 0;
}
@media (max-width:640px){
    .items{
    flex-basis: 80%;
    margin: auto;
}

}

